.headline-movie {
    margin: 0 auto;
    display: block;
}

.centered {
            text-align: left;
            border: 0px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            display: table;
        }

        #example {
          font-style: italic;
        }

        table, th, td {
          text-align: center;
          border: 1px solid black;
          border-spacing: 1;
          padding: 2;
        }

        .bold {
          font-weight: bold;
        }